

<div class="container">
  <h1>All our flats (<%= @flats.length %>) </h1>

  <div style="display: flex;">
    <div style="flex-grow: 1">
      <%= link_to "add a flat", new_flat_path, class: "btn btn-primary"  %>
    </div>
    <div style="flex-grow: 3">
      <%= form_tag search_flats_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Filter flats"
        %>
      <%= submit_tag "Filter", class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-3" style='background-color: rgba(150,150,150, .1); margin:10px;'>

        <img src=<%= flat.picture_url %> alt="" style="display: block; width: 98%; height: 50%;">

        <div>
          <%= flat.name %>

          <%= flat.address %>

          <%= flat.number_of_guest %>
          <%= flat.price_per_night %>
        </div>
          <%= link_to "more details", flat_path(flat) %>
          <%= link_to "edit", edit_flat_path(flat) %>
          <%= link_to "delete", flat_path(flat), data: {
            method: :delete, confirm: "are totaly really sure you want to destroy this flat ?! It may decrease the quality of the building !!"
          }  %>
      </div>
    <% end %>
  </div>
</div>
